.public-bgcolor{
background: #F0AD4E;
}
.public-bgcolor a,.public-bgcolor h1{
color: #FFFFFF;
}
.mui-bar-tab .mui-tab-item.mui-active{
color: #F0AD4E;
}

#img1{
width: 100px;
height: 100px;
border-radius: 100px;
display: block;
margin: 30px auto;
}
#changeHead{
background: red;
color: #fff;
border: 0px;
display: block;
margin: 20px auto;
}
.box ul{
margin: 20px 0px;
font-size: 14px;
color: #666;
}
.box ul span{
margin-right: 6px;
}

.login-bgcolor form{
margin-top: 50px;
}
.login-bgcolor .btn_login{
background: red;
color: #fff;
border: 0px;
padding: 6px 50px;
display: block;
margin: 10px auto;
}
.login-bgcolor .link{
display: block;
margin: 10px auto;
}
